In [120]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import csv
warnings.filterwarnings('ignore')
import zipfile
from datetime import datetime
import os

In [121]:
pd.options.display.float_format = '{:.2f}'.format

In [122]:

def pmtt(folder_path):
    # Lister tous les fichiers contenant dans le dossier
    all_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith('.csv')]

    # Lire chaque fichier CSV et les stocker dans une liste
    df_list = [pd.read_csv(file) for file in all_files]

    # Concaténer tous les DataFrames en un seul DataFrame
    combined_df = pd.concat(df_list, ignore_index=True)
    return combined_df

folder_path = r'D:\RECONCILIATIONS\PAIEMENT\OM BF\Données PMT\SEPT'
pmt = pmtt(folder_path)

In [123]:
directory = r'D:\RECONCILIATIONS\PAIEMENT\OM BF\Données OP\SEPT'

# Trouver le fichier CSV le plus récent dans le répertoire
def get_latest_file(directory):
    files = [os.path.join(directory, f) for f in os.listdir(directory) if f.endswith('.csv')]
    latest_file = max(files, key=os.path.getctime)
    return latest_file

# Charger le fichier CSV le plus récent
latest_file_path = get_latest_file(directory)
op = pd.read_csv(latest_file_path,sep=';')

In [124]:
#op = pd.read_csv(r'D:\RECONCILIATIONS\PAIEMENT\OM BF\Données OP\JULY\20240717_OMBF_PAYIN_20240716.csv')

In [125]:
#pmt = pd.read_csv(r'D:\RECONCILIATIONS\PAIEMENT\OM BF\Données PMT\JUILLET\E20240717_OMBF_PAYIN_PMT_20240716.csv')

In [126]:
#SAUVEGARDER UNE COPIE DE LA DATAFRAME
op1=op.copy()
pmt1=pmt.copy()

In [127]:
pmt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236912 entries, 0 to 1236911
Data columns (total 19 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   created_at               1236912 non-null  object
 1   payment_date             1084636 non-null  object
 2   operator                 1236912 non-null  object
 3   merchant_name            1236912 non-null  object
 4   transaction_id           1236912 non-null  object
 5   merchant_transaction_id  1236912 non-null  object
 6   id_operator              1188679 non-null  object
 7   external_transaction_id  0 non-null        float64
 8   phone_number             1236912 non-null  int64
 9   client_email             1236912 non-null  object
 10  amount                   1236912 non-null  float64
 11  fee_amount               1236912 non-null  float64
 12  merchant_amount          1236912 non-null  float64
 13  operation_origin         1236912 non-null  object
 14  currency                 1236912 non-null  object
 15  statut                   1236912 non-null  object
 16  country                  1236912 non-null  object
 17  provider_id              0 non-null        float64
 18  provider_name            1236912 non-null  object
dtypes: float64(5), int64(1), object(13)
memory usage: 179.3+ MB

TRAITEMNETS

In [128]:
dfpmt = pmt.rename(columns={
        'created_at': 'Created Date',
        'payment_date': 'Payment Date',
        'operator': 'Operator',
        'merchant_name': 'Merchant Name',
        'transaction_id': 'Transaction ID',
        'id_operator': 'ID Opérateur',
        'phone_number': 'Phone Number',
        'amount': 'Montant',
        'fee_amount': 'Fee amount',
        'merchant_amount': 'Merchant amount',
        'statut': 'Statut'
    })

In [129]:
dfpmt.head()

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,Montant,Fee amount,Merchant amount,operation_origin,currency,Statut,country,provider_id,provider_name
0,2024-09-02 00:32:36,2024-09-02 00:33:47,OM_BF,1XBET BF,3f163f858f0c4f669bbdb6ee16db250c,12491169045,OM240902.0033.45397387,NaN,22675161926,emilezogame@gmail.mm,2000.00,120.00,1880.00,payment,XOF,SUCCESS,BF,NaN,OMBF_Payin
1,2024-09-02 00:33:47,NaN,OM_BF,Mel Bet BF,76ea17aa905f47e58e258572272cc063,12491174087,NaN,NaN,22654820505,bernardakpadzi81@gmail.com,2000.00,120.00,1880.00,payment,XOF,FAILED,BF,NaN,OMBF_Payin
2,2024-09-02 02:27:56,2024-09-02 02:29:05,OM_BF,Bet Winner BF,73e7b1956f04400a8ff24ef343218b07,134412219,OM240902.0229.68111049,NaN,22667421892,tondebernard21@gmail.com,1100.00,77.00,1023.00,payment,XOF,SUCCESS,BF,NaN,OMBF_Payin
3,2024-09-02 00:33:48,2024-09-02 00:34:52,OM_BF,Bet Winner BF,c20bd5507db841debc54fc6eee88f6da,134405479,OM240902.0034.60778643,NaN,22665636408,www.lacfature6564@gmail.com,1000.00,70.00,930.00,payment,XOF,SUCCESS,BF,NaN,OMBF_Payin
4,2024-09-02 02:28:02,NaN,OM_BF,Bet Winner BF,a9e2b6a96a284e4896e9fe08d94905d2,134412193,NaN,NaN,22675435781,abdoufinisseur@gmail.com,3000.00,210.00,2790.00,payment,XOF,FAILED,BF,NaN,OMBF_Payin

In [130]:
op.head()

,TRANSFER_DATE,TRANSFER_STATUS,TRANSFER_ID,ORDER_ID,MSISDN,REFERENCE_NUMBER,STATEMENT,TRANSFER_AMOUNT,CREDIT,DEBIT,FEES,PREVIOUS_BAL,AFTER_BAL,REMARKS,FTXN_ID
0,01/09/2024,TS,OM240901.0000.19355452,NaN,54474492,4690a004-72f4-41fa-90aa-a9d7d1bfd837,54474492 Money Received from 07270267,1000,1000.00,NaN,NaN,11727661.00,11728661.00,OTP Cashout,122d100158154cf7a351c270af63ddf8
1,01/09/2024,TS,OM240901.0000.19355465,NaN,54474492,36f8115e-5ecc-47e6-8b0d-d17f2b57374b,54474492 Money Received from 67576224,500,500.00,NaN,NaN,11127317.00,11127817.00,OTP Cashout,063eca2607ea4a94b3ed86e1c337fbac
2,01/09/2024,TS,OM240901.0000.19355476,NaN,54474492,20c8953a-e479-4dc7-ab76-5425eb220bb8,54474492 Money Received from 55102950,1000,1000.00,NaN,NaN,14662731.00,14663731.00,OTP Cashout,9ca6b42c082d4ba18a309bed826c0c6d
3,01/09/2024,TS,OM240901.0000.45324780,NaN,54474492,4066a7ac-adae-4aa3-8c21-08bbf0cc6822,54474492 Money Received from 64310336,5000,5000.00,NaN,NaN,-562839049.00,-562834049.00,OTP Cashout,96d6bd35be3a4091ad73f3053feab8d6
4,01/09/2024,TS,OM240901.0000.45324823,NaN,54474492,da4e9563-6f8b-460e-95e2-7a4586056ebb,54474492 Money Received from 77970080,5000,5000.00,NaN,NaN,11738337.00,11743337.00,OTP Cashout,ad1a9de787d14802a940e599f9d75402

In [131]:
dfop=op[['TRANSFER_DATE',
            'TRANSFER_STATUS',
            'TRANSFER_ID',
           'STATEMENT',
           'TRANSFER_AMOUNT',
           'CREDIT',
            'DEBIT',
           'FTXN_ID',
           'PREVIOUS_BAL',
           'AFTER_BAL',
           'REMARKS'
]]

In [132]:
dfop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357638 entries, 0 to 357637
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   TRANSFER_DATE    357638 non-null  object
 1   TRANSFER_STATUS  357638 non-null  object
 2   TRANSFER_ID      357638 non-null  object
 3   STATEMENT        357638 non-null  object
 4   TRANSFER_AMOUNT  357638 non-null  int64
 5   CREDIT           357636 non-null  float64
 6   DEBIT            2 non-null       float64
 7   FTXN_ID          357638 non-null  object
 8   PREVIOUS_BAL     357637 non-null  float64
 9   AFTER_BAL        357637 non-null  float64
 10  REMARKS          357638 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 30.0+ MB

In [133]:
ts= dfop.loc[(dfop['TRANSFER_STATUS'] == 'TS')]

In [134]:
result = ts.groupby('TRANSFER_DATE').agg(
    Count=('TRANSFER_DATE', 'size'),
    Total_Amount=('CREDIT', 'sum')
).reset_index()

result = result.sort_values(by='Total_Amount', ascending=False)
result

   TRANSFER_DATE  Count  Total_Amount
0     01/09/2024  47647  121306076.00
9     10/09/2024  39927  103926438.00
7     08/09/2024  33332   96016182.00
5     06/09/2024  34456   95466357.00
6     07/09/2024  32102   92676573.00
8     09/09/2024  31971   92304381.00
4     05/09/2024  30419   90601152.00
1     02/09/2024  27261   82028587.00
3     04/09/2024  27539   77839396.00
10    11/09/2024  27156   69722083.00
2     03/09/2024  25827   69499288.00

CALCUL DE SOLDE

In [135]:
#dfop['Date'] = pd.to_datetime(dfop['DAYOF'],format='%Y%m%d')

In [136]:
#CONVERTIR LA DATE EN DATETIME

#EXTRAITRE LA DATE DANS UNE NOUVELLE COLLONNE
dfpmt['DateCourte'] = dfpmt['Created Date'].apply(lambda x: x.split(' ')[0])

In [137]:
#SUPPRIMER LES DOUBLONS

df_sans_doublons = dfpmt.drop_duplicates(subset='Transaction ID', keep='first')

In [138]:
dfop['FTXN_ID'].isnull().sum()

0

In [139]:
dfpmt['Transaction ID'].isnull().sum()

0

In [140]:
dfop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357638 entries, 0 to 357637
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   TRANSFER_DATE    357638 non-null  object
 1   TRANSFER_STATUS  357638 non-null  object
 2   TRANSFER_ID      357638 non-null  object
 3   STATEMENT        357638 non-null  object
 4   TRANSFER_AMOUNT  357638 non-null  int64
 5   CREDIT           357636 non-null  float64
 6   DEBIT            2 non-null       float64
 7   FTXN_ID          357638 non-null  object
 8   PREVIOUS_BAL     357637 non-null  float64
 9   AFTER_BAL        357637 non-null  float64
 10  REMARKS          357638 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 30.0+ MB

In [141]:
"""
#MISE EN PLACE DE RECHERCHE X POUR RECUPERATION CHEZ L'OP
        # Vérification des correspondances entre A1 et B1
correspondance_statut_op= dfop.set_index('FTXN_ID')['TRANSFER_STATUS']
correspondance_date_op = dfop.set_index('FTXN_ID')['DAYOF'].astype(object)
correspondance_idoperator = dfop.set_index('FTXN_ID')['TRANSFER_ID']


dfpmt['DATEOP'] = dfpmt['Transaction ID'].map(correspondance_date_op)
dfpmt['STATUTOP'] = dfpmt['Transaction ID'].map(correspondance_statut_op)
dfpmt['IDOPERATOR'] = dfpmt['Transaction ID'].map(correspondance_idoperator)
"""

"\n#MISE EN PLACE DE RECHERCHE X POUR RECUPERATION CHEZ L'OP\n        # Vérification des correspondances entre A1 et B1\ncorrespondance_statut_op= dfop.set_index('FTXN_ID')['TRANSFER_STATUS']\ncorrespondance_date_op = dfop.set_index('FTXN_ID')['DAYOF'].astype(object)\ncorrespondance_idoperator = dfop.set_index('FTXN_ID')['TRANSFER_ID']\n\n\ndfpmt['DATEOP'] = dfpmt['Transaction ID'].map(correspondance_date_op)\ndfpmt['STATUTOP'] = dfpmt['Transaction ID'].map(correspondance_statut_op)\ndfpmt['IDOPERATOR'] = dfpmt['Transaction ID'].map(correspondance_idoperator)\n"

In [142]:
# Supprimer les doublons en conservant la première occurrence
dfop_unique = dfop.drop_duplicates(subset='FTXN_ID')

# Vérification des correspondances entre A1 et B1
correspondance_statut_op = dfop_unique.set_index('FTXN_ID')['TRANSFER_STATUS']
correspondance_date_op = dfop_unique.set_index('FTXN_ID')['TRANSFER_DATE'].astype(object)
correspondance_idoperator = dfop_unique.set_index('FTXN_ID')['TRANSFER_ID']

# Utilisation de map pour ajouter les colonnes correspondantes à dfpmt
df_sans_doublons['DATEOP'] = df_sans_doublons['Transaction ID'].map(correspondance_date_op)
df_sans_doublons['STATUTOP'] = df_sans_doublons['Transaction ID'].map(correspondance_statut_op)
df_sans_doublons['IDOPERATOR'] = df_sans_doublons['Transaction ID'].map(correspondance_idoperator)

CALCULE DE TAUX ET FAIS

In [143]:
df_sans_doublons['Fraisop'] = df_sans_doublons['Montant'] * 0.0236

In [144]:
df_sans_doublons['FraisPmt'] = df_sans_doublons['Fee amount'] - df_sans_doublons['Fraisop']

In [145]:
df_sans_doublons['Tauxop']=df_sans_doublons['Fraisop'] / df_sans_doublons['Montant']

In [146]:
df_sans_doublons

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,...,country,provider_id,provider_name,DateCourte,DATEOP,STATUTOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop
0,2024-09-02 00:32:36,2024-09-02 00:33:47,OM_BF,1XBET BF,3f163f858f0c4f669bbdb6ee16db250c,12491169045,OM240902.0033.45397387,NaN,22675161926,emilezogame@gmail.mm,...,BF,NaN,OMBF_Payin,2024-09-02,02/09/2024,TS,OM240902.0033.45397387,47.20,72.80,0.02
1,2024-09-02 00:33:47,NaN,OM_BF,Mel Bet BF,76ea17aa905f47e58e258572272cc063,12491174087,NaN,NaN,22654820505,bernardakpadzi81@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-02,NaN,NaN,NaN,47.20,72.80,0.02
2,2024-09-02 02:27:56,2024-09-02 02:29:05,OM_BF,Bet Winner BF,73e7b1956f04400a8ff24ef343218b07,134412219,OM240902.0229.68111049,NaN,22667421892,tondebernard21@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-02,02/09/2024,TS,OM240902.0229.68111049,25.96,51.04,0.02
3,2024-09-02 00:33:48,2024-09-02 00:34:52,OM_BF,Bet Winner BF,c20bd5507db841debc54fc6eee88f6da,134405479,OM240902.0034.60778643,NaN,22665636408,www.lacfature6564@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-02,02/09/2024,TS,OM240902.0034.60778643,23.60,46.40,0.02
4,2024-09-02 02:28:02,NaN,OM_BF,Bet Winner BF,a9e2b6a96a284e4896e9fe08d94905d2,134412193,NaN,NaN,22675435781,abdoufinisseur@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-02,NaN,NaN,NaN,70.80,139.20,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236907,2024-09-13 08:31:27,2024-09-13 08:31:37,OM_BF,1XBET BF,07e107e85324400d96c837b56ee7dbb5,12622733305,OM240913.0831.60797259,NaN,22667586708,sanfoyacouba07@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-13,NaN,NaN,NaN,18.88,29.12,0.02
1236908,2024-09-13 08:30:39,2024-09-13 08:31:38,OM_BF,Bet Winner BF,ac161257fced4b2daa8ba69cd4898f4b,137048644,OM240913.0831.86793037,NaN,22675409548,azizzanre154@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-13,NaN,NaN,NaN,118.00,232.00,0.02
1236909,2024-09-13 08:31:22,2024-09-13 08:31:43,OM_BF,1XBET BF,e08cceeab4fd4508909a074c210c9fea,12622732709,OM240913.0831.10316342,NaN,22655244727,boenepawentoare@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-13,NaN,NaN,NaN,7.08,10.92,0.02
1236910,2024-09-13 08:31:25,2024-09-13 08:31:47,OM_BF,1XBET BF,88f31760cf2a47c796c6a048629238c2,12622733053,OM240913.0831.95778848,NaN,22666586066,www.zongojoachim@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-13,NaN,NaN,NaN,11.80,18.20,0.02
1236911,2024-09-13 08:29:31,2024-09-13 08:31:48,OM_BF,Bet Winner BF,4ebb90b5fbdc4243a8ecdfb51f340e81,137048409,OM240913.0831.42188441,NaN,22674346805,augustinkoama5@gmail.com,...,BF,NaN,OMBF_Payin,2024-09-13,NaN,NaN,NaN,23.60,46.40,0.02

NBSI

In [147]:
ombf= dfop.loc[(dfop['TRANSFER_STATUS'] == 'TS')]

In [148]:
#NBSI PMT &OMBF
df_sans_doublons['OMBF'] = df_sans_doublons['Transaction ID'].isin(ombf['FTXN_ID']).astype(int)
ombf['PMT'] = ombf['FTXN_ID'].isin(df_sans_doublons['Transaction ID']).astype(int)

In [149]:
df_sans_doublons['Nombre']= df_sans_doublons['Montant']
ombf['Nombre']= ombf['CREDIT']

TCD TABLEAU CROISE DYNAMIQUE

In [150]:
df_filteredpmt = df_sans_doublons[df_sans_doublons['OMBF'] == 1]

# Création du tableau croisé dynamique
tcdpmt = pd.pivot_table(
    df_filteredpmt,
    values=['Montant', 'Nombre','Fraisop', 'FraisPmt'],
    index=['DATEOP','Statut'],
    aggfunc={'Nombre': 'count','Montant': 'sum' ,'Fraisop': 'sum', 'FraisPmt': 'sum' },
    fill_value=0,
    margins=True,
    margins_name='Total'
)

df_filtered = ombf[(ombf['PMT'] == 1) | (ombf['PMT'] == 0)]

# Création du tableau croisé dynamique
tcdombf = pd.pivot_table(
    df_filtered,
    values=['Nombre', 'CREDIT'],
    index=['TRANSFER_DATE','TRANSFER_STATUS'],
    aggfunc={'Nombre': 'count','CREDIT': 'sum' },
    fill_value=0,
    margins=True,
    margins_name='Total'
)

In [151]:
tcdpmt

                      FraisPmt     Fraisop      Montant  Nombre
DATEOP     Statut
01/09/2024 PENDING       10.92        7.08       300.00       1
           SUCCESS  4961916.10  2862816.31 121305776.00   47646
02/09/2024 SUCCESS  3385247.99  1935874.65  82028587.00   27260
03/09/2024 SUCCESS  2836191.42  1640183.20  69499288.00   25827
04/09/2024 PENDING      218.40      141.60      6000.00       2
           SUCCESS  3212676.35  1836868.15  77833396.00   27537
05/09/2024 FAILED       162.40       82.60      3500.00       1
           PENDING       54.60       35.40      1500.00       1
           SUCCESS  3693082.31  2138057.39  90595652.00   30416
06/09/2024 SUCCESS  3876200.48  2253006.03  95466357.00   34456
07/09/2024 SUCCESS  3827298.13  2187167.12  92676573.00   32102
08/09/2024 SUCCESS  3921485.21  2265981.90  96016182.00   33332
09/09/2024 SUCCESS  3796956.51  2178383.39  92304381.00   31970
10/09/2024 FAILED      2748.20     1781.80     75500.00       2
           SUCCESS  4153126.85  2450882.14 103850938.00   39925
11/09/2024 PENDING      152.88       99.12      4200.00       1
           SUCCESS  2763947.75  1645342.04  69717883.00   27155
Total              40431476.51 23396709.91 991386013.00  357634

In [152]:
tcdombf

                                    CREDIT  Nombre
TRANSFER_DATE TRANSFER_STATUS
01/09/2024    TS              121306076.00   47647
02/09/2024    TS               82028587.00   27260
03/09/2024    TS               69499288.00   25827
04/09/2024    TS               77839396.00   27539
05/09/2024    TS               90601152.00   30419
06/09/2024    TS               95466357.00   34456
07/09/2024    TS               92676573.00   32102
08/09/2024    TS               96016182.00   33332
09/09/2024    TS               92304381.00   31970
10/09/2024    TS              103926438.00   39927
11/09/2024    TS               69722083.00   27156
Total                         991386513.00  357635

In [153]:
maj_failed_a_succes = df_sans_doublons.loc[(df_sans_doublons['Statut'] == 'FAILED') & (df_sans_doublons['OMBF'] == 1)]
maj_pending_a_succes = df_sans_doublons.loc[(df_sans_doublons['Statut'] == 'PENDING') & (df_sans_doublons['OMBF'] == 1)]
pending_a_succes = df_sans_doublons.loc[(df_sans_doublons['Statut'] == 'Processing will begin shortly') & (df_sans_doublons['OMBF'] == 1)]

In [154]:
maj_pending_a_succes

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,...,provider_name,DateCourte,DATEOP,STATUTOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,OMBF,Nombre
111122,2024-09-04 15:10:24,2024-09-04 15:11:07,OM_BF,1XBET BF,34e84b3288cd41d38899453a9459fd74,12517081927,OM240904.1511.42180087,NaN,22606358025,florentsawadogo99@gmail.com,...,OMBF_Payin,2024-09-04,04/09/2024,TS,OM240904.1511.42180087,70.80,109.20,0.02,1,3000.00
118717,2024-09-04 19:28:37,2024-09-04 19:30:09,OM_BF,1XBET BF,2bfb28632e9d423d97c8bdefaf321d9c,12519884015,OM240904.1930.71326063,NaN,22675498459,cherifouedraogo355@gmail.com,...,OMBF_Payin,2024-09-04,04/09/2024,TS,OM240904.1930.71326063,70.80,109.20,0.02,1,3000.00
128487,2024-09-05 08:21:34,NaN,OM_BF,1XBET BF,b031312b691c4843b708ecf5c5ba9b21,12524216431,NaN,NaN,22667099627,kouraogoabdoulaziz5@gmail.com,...,OMBF_Payin,2024-09-05,05/09/2024,TS,OM240905.0822.97380456,35.40,54.60,0.02,1,1500.00
259429,2024-09-01 21:05:43,2024-09-01 21:06:12,OM_BF,1XBET BF,749867d81fbf40f49ce32a73102abe32,12489813803,OM240901.2106.10369667,NaN,22676065108,harounaouedraogo175@gmail.com,...,OMBF_Payin,2024-09-01,01/09/2024,TS,OM240901.2106.10369667,7.08,10.92,0.02,1,300.00
617822,2024-09-11 08:22:24,NaN,OM_BF,1XBET BF,44fd0ff1080644eea64f92e8db3ddf1b,12600668161,NaN,NaN,22655938723,soufianezoringre55@icloud.com,...,OMBF_Payin,2024-09-11,11/09/2024,TS,OM240911.0822.68156970,99.12,152.88,0.02,1,4200.00

In [155]:
pending_a_succes

Empty DataFrame
Columns: [Created Date, Payment Date, Operator, Merchant Name, Transaction ID, merchant_transaction_id, ID Opérateur, external_transaction_id, Phone Number, client_email, Montant, Fee amount, Merchant amount, operation_origin, currency, Statut, country, provider_id, provider_name, DateCourte, DATEOP, STATUTOP, IDOPERATOR, Fraisop, FraisPmt, Tauxop, OMBF, Nombre]
Index: []

[0 rows x 28 columns]

In [156]:
maj_failed_a_succes

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,...,provider_name,DateCourte,DATEOP,STATUTOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,OMBF,Nombre
184349,2024-09-05 19:05:08,NaN,OM_BF,Bet Winner BF,e910d7e635914c4099f9ae26f20cb163,135220388,NaN,NaN,22677060905,Dramanezongo.com@gmail.com,...,OMBF_Payin,2024-09-05,05/09/2024,TS,OM240905.1906.19350280,82.60,162.40,0.02,1,3500.00
499471,2024-09-10 01:15:11,NaN,OM_BF,1XBET BF,39096e1f8c99460db96829fd9029db22,12584432295,NaN,NaN,22667075713,lamissasoulama25@gmail.com,...,OMBF_Payin,2024-09-10,10/09/2024,TS,OM240910.0115.60774106,11.80,18.20,0.02,1,500.00
586153,2024-09-10 13:08:15,NaN,OM_BF,1XBET BF,b4d5c6fa8e5e4244adf78c6890efbba8,12589651505,NaN,NaN,22607249972,moussaouedraogo922@gmail.com,...,OMBF_Payin,2024-09-10,10/09/2024,TS,OM240910.1308.19366808,1770.00,2730.00,0.02,1,75000.00

In [157]:
trx_pending_abs_ombf = df_sans_doublons.loc[(df_sans_doublons['Statut'] == 'PENDING') & (df_sans_doublons['OMBF'] == 0)]
trx_pending_abs_ombf

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,...,provider_name,DateCourte,DATEOP,STATUTOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,OMBF,Nombre
3749,2024-09-02 08:57:10,NaN,OM_BF,1XBET BF,301d3febd9b7431eab9d8c989e57e248,12493083571,3288620d-3e5a-42d6-a,NaN,22655043770,zombrek@gmail.com,...,OMBF_Payin,2024-09-02,NaN,NaN,NaN,59.00,91.00,0.02,0,2500.00
24363,2024-09-02 21:02:30,NaN,OM_BF,Bet Winner BF,0c4763ea1b674fe6839be9a7c21bcd04,134574454,fdeee12d-f0c0-4a77-8,NaN,22676381315,rachidbado92@gmail.com,...,OMBF_Payin,2024-09-02,NaN,NaN,NaN,23.60,46.40,0.02,0,1000.00
59170,2024-09-03 23:55:10,NaN,OM_BF,Bet Winner BF,ed3f73a953e34d00bfe4f6e0f8041a77,134807318,e9f40ac7-8c3b-4817-b,NaN,22606318283,monboss314@gmail.com,...,OMBF_Payin,2024-09-03,NaN,NaN,NaN,70.80,139.20,0.02,0,3000.00
109105,2024-09-04 13:37:47,NaN,OM_BF,BETMOMO BF,ae00ca50494f4dbbbe6bc70df9b915e6,BWTP1725457067VCGZBV,d3bb861f-21b9-4d88-a,NaN,22654697199,john.doe@gmail.com,...,OMBF_Payin,2024-09-04,NaN,NaN,NaN,118.00,132.00,0.02,0,5000.00
116547,2024-09-04 18:42:38,NaN,OM_BF,1XBET BF,680ad77774b7472b84d65b03dc0a2c0b,12519430603,2fa42da4-ee87-4fcc-a,NaN,22667080993,ingaimekorbeogo@gmail.com,...,OMBF_Payin,2024-09-04,NaN,NaN,NaN,23.60,36.40,0.02,0,1000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072948,2024-08-26 00:23:57,NaN,OM_BF,1XBET BF,e557b8c97bc34f3c8d4aa9452fcd8e1d,12397773803,8971e44f-631f-4389-b,NaN,22664549005,kimodisita@gmail.com,...,OMBF_Payin,2024-08-26,NaN,NaN,NaN,11.80,18.20,0.02,0,500.00
1075047,2024-08-26 07:29:41,NaN,OM_BF,Bet Winner BF,66259fb859944a798189bc660e259109,132459774,5de96647-48aa-4af9-8,NaN,22677390084,abdoulayedaila77@gmail.com,...,OMBF_Payin,2024-08-26,NaN,NaN,NaN,23600.00,46400.00,0.02,0,1000000.00
1218441,2024-09-12 14:02:35,NaN,OM_BF,Bet Winner BF,eadb9d30c00f4486915cec75aeabfd9e,136896549,NaN,NaN,22674088152,gdhdjeb373@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,23.60,46.40,0.02,0,1000.00
1232284,2024-09-12 23:25:41,NaN,OM_BF,1XBET BF,15e2776e8ce24b81a19cc70185797e60,12619999271,1211d7ad-c80e-4a5b-8,NaN,22675253746,Souleymanepassere@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,7.08,10.92,0.02,0,300.00
1236897,2024-09-13 08:30:51,NaN,OM_BF,1XBET BF,b323f5c222c542fcaacd96110d4f8186,12622727839,NaN,NaN,22607472455,banonnahien8@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,9.44,14.56,0.02,0,400.00

In [158]:
df_sans_doublons['Statut'].value_counts()

Statut
SUCCESS    628462
FAILED      82597
PENDING        98
Name: count, dtype: int64

In [159]:
trx_succes_a_rechercher = ombf.loc[(ombf['PMT'] == 0)]

In [160]:
trx_succes_a_rechercher.head()

,TRANSFER_DATE,TRANSFER_STATUS,TRANSFER_ID,STATEMENT,TRANSFER_AMOUNT,CREDIT,DEBIT,FTXN_ID,PREVIOUS_BAL,AFTER_BAL,REMARKS,PMT,Nombre
60521,02/09/2024,TS,OW240902.1509.92127741,54474492 Money Paid to 101IND01,742739129,NaN,742739129.00,54474492,13743369.00,-728995760.00,COMPENSATION MARCHANDS SOLDE DU01092024,0,NaN
149103,05/09/2024,TS,OM240905.1822.68132734,54474492 Money Received from 56745902,500,500.00,NaN,"1,42434E+31",11871428.00,11871928.00,OTP Cashout,0,500.00
276639,09/09/2024,TS,OW240909.1624.101942878,54474492 Money Paid to 101IND01,604127535,NaN,604127535.00,54474492,12000352.00,-592127183.00,COMPENSATION MARCHANDS SOLDE DU08092024,0,NaN

In [161]:
trx_succes_abs = df_sans_doublons.loc[(df_sans_doublons['OMBF'] == 0) & (df_sans_doublons['Statut'] == 'SUCCESS')]

In [162]:
trx_succes_abs

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,...,provider_name,DateCourte,DATEOP,STATUTOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,OMBF,Nombre
182628,2024-09-05 18:21:26,2024-09-05 18:22:26,OM_BF,1XBET BF,14243360392246358839354000499249,12531457049,OM240905.1822.68132734,NaN,22656745902,aboubacarsidikid344@gmail.com,...,OMBF_Payin,2024-09-05,NaN,NaN,NaN,11.80,18.20,0.02,0,500.00
723625,2024-09-12 00:00:36,2024-09-12 00:01:52,OM_BF,1XBET BF,cf76a09afe2b4625b83b1657c8c077ec,12609381277,OM240912.0001.97318760,NaN,22655072292,oussenisow591@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,16.52,25.48,0.02,0,700.00
723654,2024-09-12 00:01:06,2024-09-12 00:01:59,OM_BF,Bet Winner BF,4dcc603598584f74b6b8ad591dcf8874,136802880,OM240912.0001.45309169,NaN,22665202758,abdoulfatafsore649@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,70.80,139.20,0.02,0,3000.00
723684,2024-09-12 00:01:29,2024-09-12 00:02:01,OM_BF,1XBET BF,030f7fc7d4bc493c88b5aad780a32b89,12609385129,OM240912.0002.60713856,NaN,22674912032,adamsbrrs@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,118.00,182.00,0.02,0,5000.00
723724,2024-09-12 00:01:29,2024-09-12 00:02:04,OM_BF,1XBET BF,1ac22fa60b824507bff16335cf3be468,12609385143,OM240912.0002.60713864,NaN,22654500590,boukarylouaba@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,23.60,36.40,0.02,0,1000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236907,2024-09-13 08:31:27,2024-09-13 08:31:37,OM_BF,1XBET BF,07e107e85324400d96c837b56ee7dbb5,12622733305,OM240913.0831.60797259,NaN,22667586708,sanfoyacouba07@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,18.88,29.12,0.02,0,800.00
1236908,2024-09-13 08:30:39,2024-09-13 08:31:38,OM_BF,Bet Winner BF,ac161257fced4b2daa8ba69cd4898f4b,137048644,OM240913.0831.86793037,NaN,22675409548,azizzanre154@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,118.00,232.00,0.02,0,5000.00
1236909,2024-09-13 08:31:22,2024-09-13 08:31:43,OM_BF,1XBET BF,e08cceeab4fd4508909a074c210c9fea,12622732709,OM240913.0831.10316342,NaN,22655244727,boenepawentoare@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,7.08,10.92,0.02,0,300.00
1236910,2024-09-13 08:31:25,2024-09-13 08:31:47,OM_BF,1XBET BF,88f31760cf2a47c796c6a048629238c2,12622733053,OM240913.0831.95778848,NaN,22666586066,www.zongojoachim@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,11.80,18.20,0.02,0,500.00
1236911,2024-09-13 08:29:31,2024-09-13 08:31:48,OM_BF,Bet Winner BF,4ebb90b5fbdc4243a8ecdfb51f340e81,137048409,OM240913.0831.42188441,NaN,22674346805,augustinkoama5@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,23.60,46.40,0.02,0,1000.00

In [163]:
trx_succes_abs = df_sans_doublons.loc[(df_sans_doublons['OMBF'] == 0) & (df_sans_doublons['Statut'] == 'SUCCESS')]
trx_succes_abs

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Phone Number,client_email,...,provider_name,DateCourte,DATEOP,STATUTOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,OMBF,Nombre
182628,2024-09-05 18:21:26,2024-09-05 18:22:26,OM_BF,1XBET BF,14243360392246358839354000499249,12531457049,OM240905.1822.68132734,NaN,22656745902,aboubacarsidikid344@gmail.com,...,OMBF_Payin,2024-09-05,NaN,NaN,NaN,11.80,18.20,0.02,0,500.00
723625,2024-09-12 00:00:36,2024-09-12 00:01:52,OM_BF,1XBET BF,cf76a09afe2b4625b83b1657c8c077ec,12609381277,OM240912.0001.97318760,NaN,22655072292,oussenisow591@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,16.52,25.48,0.02,0,700.00
723654,2024-09-12 00:01:06,2024-09-12 00:01:59,OM_BF,Bet Winner BF,4dcc603598584f74b6b8ad591dcf8874,136802880,OM240912.0001.45309169,NaN,22665202758,abdoulfatafsore649@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,70.80,139.20,0.02,0,3000.00
723684,2024-09-12 00:01:29,2024-09-12 00:02:01,OM_BF,1XBET BF,030f7fc7d4bc493c88b5aad780a32b89,12609385129,OM240912.0002.60713856,NaN,22674912032,adamsbrrs@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,118.00,182.00,0.02,0,5000.00
723724,2024-09-12 00:01:29,2024-09-12 00:02:04,OM_BF,1XBET BF,1ac22fa60b824507bff16335cf3be468,12609385143,OM240912.0002.60713864,NaN,22654500590,boukarylouaba@gmail.com,...,OMBF_Payin,2024-09-12,NaN,NaN,NaN,23.60,36.40,0.02,0,1000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236907,2024-09-13 08:31:27,2024-09-13 08:31:37,OM_BF,1XBET BF,07e107e85324400d96c837b56ee7dbb5,12622733305,OM240913.0831.60797259,NaN,22667586708,sanfoyacouba07@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,18.88,29.12,0.02,0,800.00
1236908,2024-09-13 08:30:39,2024-09-13 08:31:38,OM_BF,Bet Winner BF,ac161257fced4b2daa8ba69cd4898f4b,137048644,OM240913.0831.86793037,NaN,22675409548,azizzanre154@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,118.00,232.00,0.02,0,5000.00
1236909,2024-09-13 08:31:22,2024-09-13 08:31:43,OM_BF,1XBET BF,e08cceeab4fd4508909a074c210c9fea,12622732709,OM240913.0831.10316342,NaN,22655244727,boenepawentoare@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,7.08,10.92,0.02,0,300.00
1236910,2024-09-13 08:31:25,2024-09-13 08:31:47,OM_BF,1XBET BF,88f31760cf2a47c796c6a048629238c2,12622733053,OM240913.0831.95778848,NaN,22666586066,www.zongojoachim@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,11.80,18.20,0.02,0,500.00
1236911,2024-09-13 08:29:31,2024-09-13 08:31:48,OM_BF,Bet Winner BF,4ebb90b5fbdc4243a8ecdfb51f340e81,137048409,OM240913.0831.42188441,NaN,22674346805,augustinkoama5@gmail.com,...,OMBF_Payin,2024-09-13,NaN,NaN,NaN,23.60,46.40,0.02,0,1000.00

In [164]:
report_date = "20240901_20240911"
# Générer automatiquement le chemin de sortie avec la date actuelle
current_date = datetime.now().strftime("%Y%m%d_%H%M%S")
output_dir = 'D:/RECO/OMBF/REACPANALYSE/SEPT'
output_file_name = f"{current_date}_RAPPORT_ANALYSE_{report_date}.xlsx"
output_file_path = os.path.join(output_dir, output_file_name)

# Création de DataFrames d'exemple
data_pmt = df_sans_doublons
data_op = ombf
maj_jour_failed_a_success = maj_failed_a_succes
maj_jour_pending_a_success = maj_pending_a_succes
Processing_will_begin_shortly= pending_a_succes
trxenattente_abs = trx_pending_abs_ombf
trx_succes_abs_ombf = trx_succes_abs
trx_ombf_succes_abs_pmt = trx_succes_a_rechercher
# Dictionnaire de DataFrames
feuilles = {
    'DATA PMT': data_pmt,
    'data op': data_op,
    'maj_failed': maj_jour_failed_a_success,
    'maj_pending' : maj_jour_pending_a_success,
    'Processing will begin shortly' : Processing_will_begin_shortly,
    'trxenattente_abs': trx_pending_abs_ombf,
    'trx_succes_pmt_abs_ombf' :trx_succes_abs_ombf,
    'trx_succes_ombf_abs_pmt' :trx_ombf_succes_abs_pmt
}

# Création de l'objet ExcelWriter
with pd.ExcelWriter(output_file_path, engine='openpyxl') as writer:
    for nom_feuille, df in feuilles.items():
        df.to_excel(writer, sheet_name=nom_feuille, index=False)

print(f"Fichier Excel avec plusieurs feuilles sauvegardé avec succès: {output_file_path}")

Exception ignored in: <function ZipFile.__del__ at 0x0000018B9AC67060>
Traceback (most recent call last):
  File "C:\Program Files\Python312\Lib\zipfile\__init__.py", line 1917, in __del__
    self.close()
  File "C:\Program Files\Python312\Lib\zipfile\__init__.py", line 1934, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

Fichier Excel avec plusieurs feuilles sauvegardé avec succès: D:/RECO/OMBF/REACPANALYSE/SEPT\20240913_121205_RAPPORT_ANALYSE_20240901_20240911.xlsx

In [165]:
"""
report_date = "20240812_20240818"
# Générer automatiquement le chemin de sortie avec la date actuelle
current_date = datetime.now().strftime("%Y%m%d_%H%M%S")
output_dir = 'D:/RECO/OMBF/REACPANALYSE/AOUT'
output_file_name = f"{current_date}_RAPPORT_ANALYSE_{report_date}.xlsx"
output_file_path = os.path.join(output_dir, output_file_name)

# Création de DataFrames d'exemple
MAJ = pending_a_succes

# Dictionnaire de DataFrames
feuilles = {
    'DATA PMT': MAJ
}

# Création de l'objet ExcelWriter
with pd.ExcelWriter(output_file_path, engine='openpyxl') as writer:
    for nom_feuille, df in feuilles.items():
        df.to_excel(writer, sheet_name=nom_feuille, index=False)

print(f"Fichier Excel avec plusieurs feuilles sauvegardé avec succès: {output_file_path}")
"""

'\nreport_date = "20240812_20240818"\n# Générer automatiquement le chemin de sortie avec la date actuelle\ncurrent_date = datetime.now().strftime("%Y%m%d_%H%M%S")\noutput_dir = \'D:/RECO/OMBF/REACPANALYSE/AOUT\'\noutput_file_name = f"{current_date}_RAPPORT_ANALYSE_{report_date}.xlsx"\noutput_file_path = os.path.join(output_dir, output_file_name)\n\n# Création de DataFrames d\'exemple\nMAJ = pending_a_succes\n\n# Dictionnaire de DataFrames\nfeuilles = {\n    \'DATA PMT\': MAJ\n}\n\n# Création de l\'objet ExcelWriter\nwith pd.ExcelWriter(output_file_path, engine=\'openpyxl\') as writer:\n    for nom_feuille, df in feuilles.items():\n        df.to_excel(writer, sheet_name=nom_feuille, index=False)\n\nprint(f"Fichier Excel avec plusieurs feuilles sauvegardé avec succès: {output_file_path}")\n'

In [166]:
succes= dfpmt[(dfpmt['Statut'] == 'SUCCESS')]
echec =dfpmt[(dfpmt['Statut'] == 'FAILED')]

In [167]:
success=succes[['Created Date',
           'Payment Date',
           'Operator',
           'Merchant Name',
           'Transaction ID',
           'Phone Number',
           'DateCourte',
           'DATEOP',
           'Statut',
           'STATUTOP',
           'Montant'
]]
success.head(2)

KeyError: "['DATEOP', 'STATUTOP'] not in index"

In [ ]:
echecs=echec[['Created Date',
           'Payment Date',
           'Operator',
           'Merchant Name',
           'Transaction ID',
           'Phone Number',
           'DateCourte',
           'DATEOP',
           'Statut',
           'STATUTOP',
           'Montant'
]]
echecs.head(2)

In [ ]:
select_success_min = success.groupby(['DateCourte','STATUTOP'])['Montant'].min()
select_success_min.reset_index()

In [ ]:
select_success_max = success.groupby(['DateCourte','STATUTOP'])['Montant'].max()
select_success_max.reset_index()

In [ ]:
select_echec_min = echecs.groupby(['DateCourte', 'STATUTOP'])['Montant'].min()
select_echec_min.reset_index()

In [ ]:
select_echec_max = echecs.groupby(['DateCourte', 'STATUTOP'])['Montant'].max()
select_echec_max.reset_index()

ANALYSE PMT

In [ ]:
select_statut_marchd=pd.crosstab(dfpmt['Statut'],dfpmt['Merchant Name']).reset_index()
select_statut_marchd

In [ ]:
grid=sns.FacetGrid(dfpmt, col='Statut', aspect=2.1)
grid.map(sns.countplot,'Merchant Name')

RECOUVREMENT

In [ ]:
recouvrement = ombf.groupby('TRANSFER_DATE')['DEBIT'].sum()
recouvrement.reset_index()

In [ ]:
ombf.groupby('TRANSFER_DATE')['DEBIT'].sum().reset_index().rename(columns={"DEBIT":"Recouvrement"})

In [ ]:
select_marchand = df_filteredpmt.groupby('Merchant Name').agg(
    Nombre=('Montant', 'count'),
    Volumes=('Montant', 'sum')
)
select_marchand